<div>

  <!--

  <div *ngFor="let card of cards" class="card"
       style="max-width: 150px;
       display: flex; flex-direction: column;
       border: 1px solid black;
       margin: 8px; padding: 10px">

    <div class="head" style="display: flex; justify-content: space-between">
      <p>{{card.entity}} {{card.value}}</p>
      <p>{{card.entity}} {{card.value}}</p>
    </div>

    <img src="{{card.imgUrl}}" alt="pic" style="align-self: center">

    <div class="foot" style="display: flex; justify-content: space-between; justify-self: flex-end">
      <p>{{card.entity}} {{card.value}}</p>
      <p>{{card.entity}} {{card.value}}</p>
    </div>

  </div>

  -->

</div>
