.card {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2b2828;

  .head, .foot {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  .head {
    margin-bottom: auto;
  }

  .foot {
    margin-top: auto;
  }

  img {
    align-self: center;
    width: 70px;
    height: 70px;
  }
}
