.card {
  width: 80px;
  height: 120px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2b2828;
  font-family: 'Lobster', cursive;
  background-color: white;

  .head, .foot {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  .head {
    margin-bottom: auto;
  }

  .foot {
    margin-top: auto;
  }

  .middle {
    align-self: center;

    h1 {
      text-align: center;
      margin: 0;
    }
  }
}
