<header style="display: flex; align-items: center">
  <h2>&#9830; &#9827; &#9824; &#9829; &nbsp;</h2>
  <h1>17 und 4</h1>
  <h2>&nbsp; &#9829; &#9824; &#9827; &#9830;</h2>
</header>

<app-button (click)="toggleShowRules()">Ein-/Ausblenden</app-button>

<div class="rules" *ngIf="showRules">
  <h2>Spielregeln</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis debitis et recusandae rerum veritatis!
    Accusantium aut blanditiis dignissimos dolor, ducimus exercitationem illo iure laborum, nesciunt placeat sed
    vero voluptas.
  </p>
</div>

<br>
<br>

<div class="winner">
  <h1 *ngIf="bankWon">Bank gewinnt!</h1>
  <h1 *ngIf="playerWon">Spieler gewinnt!</h1>
</div>

<br>
<br>

<app-button (click)="startGame()" [disabled]="gameStarted">Start</app-button>

<div class="gameplay">

  <h2>Bank: </h2>

  <div *ngIf="playersTurnFinished">
    <p>Punkte: {{bankValue}}</p>

    <div class="bankCards">
      <div *ngFor="let bankCard of bankCards">
        {{bankCard.entity}}
        {{bankCard.value}}
      </div>
    </div>

  </div>

  <h2>Spieler: </h2>

  <p>Punkte: {{playersValue}}</p>

  <div class="playerCards">
    <div *ngFor="let playerCard of playerCards">
      {{playerCard.entity}}
      {{playerCard.value}}
    </div>
  </div>

  <app-button (click)="nextCardForPlayer()" [disabled]="playersTurnFinished || playersValue > 21">Neue Karte</app-button>
  <app-button (click)="playerFinishedTurn()" [disabled]="playersTurnFinished || playersValue > 21">Zug beenden</app-button>

</div>



