<header style="display: flex; align-items: center">
  <h2>&#9830; &#9827; &#9824; &#9829; &nbsp;</h2>
  <h1>17 und 4</h1>
  <h2>&nbsp; &#9829; &#9824; &#9827; &#9830;</h2>
</header>

<app-button (click)="toggleShowRules()">Spielregeln</app-button>

<div class="rules" *ngIf="game.showRules">
  <h2>Spielregeln</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis debitis et recusandae rerum veritatis!
    Accusantium aut blanditiis dignissimos dolor, ducimus exercitationem illo iure laborum, nesciunt placeat sed
    vero voluptas.
  </p>
</div>

<br>
<br>


<app-button (click)="startGame()" [disabled]="game.gameStarted">Start</app-button>

<br>
<br>

<app-button (click)="nextCardForPlayer()"
            [disabled]=" !game.gameStarted || game.playerWon || game.bankWon || game.playersPoints === 21 || game.playersTurnFinished">Neue Karte
</app-button>

<app-button (click)="playerFinishedTurn()"
            [disabled]=" !game.gameStarted || game.playerWon || game.bankWon || game.playersPoints === 21 || game.playersTurnFinished">Zug beenden
</app-button>

<div class="winner">
  <h1 *ngIf="game.bankWon || (game.bankPoints === 21)">Bank gewinnt!</h1>
  <h1 *ngIf="game.playerWon || (game.playersPoints === 21)">Spieler gewinnt!</h1>
</div>

<br>
<br>

<div class="gameplay">

  <div class="bank">

    <h2>Bank: </h2>

      <p>
        <ng-container  *ngIf="game.revealBankCard">
          Punkte: {{game.bankPoints}}
        </ng-container>
        &nbsp;
      </p>

      <div class="bankCards">

        <div *ngFor="let bankCard of game.bankCards">
          <app-hidden-card *ngIf="!game.revealBankCard"></app-hidden-card>
          <app-card *ngIf="game.revealBankCard" [card]="bankCard"></app-card>
        </div>

        <app-hidden-card *ngIf="game.showBanksHiddenCard"></app-hidden-card>
      </div>

    </div>


  <div class="player">

    <h2>Spieler: </h2>

    <p *ngIf="game.gameStarted && game.revealPlayerCard">Punkte: {{game.playersPoints}}</p>

    <div class="playerCards">

      <div *ngFor="let playerCard of game.playerCards">
        <app-hidden-card *ngIf="!game.revealPlayerCard"></app-hidden-card>
        <app-card *ngIf="game.revealPlayerCard" [card]="playerCard"></app-card>
      </div>

      <app-hidden-card *ngIf="game.showPlayersHiddenCard"></app-hidden-card>

    </div>

  </div>

</div>



