main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 10%;

    .red {
      color: red;
    }
  }

  .rules-button {
    margin-right: 10%;
  }

  .rules {
    box-shadow: 0 0 20px #2b2828;
    padding: 20px;
    border-radius: 8px;
    margin: 25px 0;
    background-color: white;

    h2 {
      text-align: center;
      color: #2b2828;
      text-shadow: 0.5px 0.5px 0 red;
      margin-right: 10%;
    }

    p {
      text-align: justify;

    &.important {
      text-indent: 25px;
        color: #b31616;
      }
    }
  }

  .winner {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 10%;

    h1 {
      margin: 25px;
    }
  }


  .content {
    display: flex;
    width: 100%;

    .left-content {
      width: 90%;

      .gameplay {
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        min-height: 500px;
        padding: 25px;
        background-color: green;
        border-radius: 140px;
        border: 15px solid #4a2206;

        .bankCards, .playerCards {
          display: flex;
          flex-wrap: wrap;
        }

        .bank, .player {
          width: 50%;

          h2 {
            text-align: center;
            color: white;
            text-shadow: 2px 2px 2px black;
          }
        }

        .player {
          border-right: 1px solid #ffffff;
        }
      }
    }

    .right-content {
      width: 10%;
    }
  }


}
