main {
  display: flex;
  flex-direction: column;
  align-items: center;

  app-header {
    margin-right: 10%;
  }

  .rules-button {
    margin-right: 10%;
  }

  .rules {
    box-shadow: 0 0 20px #2b2828;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;

    h2 {
      text-align: center;
      margin-right: 10%;
      color: #2b2828;
      text-shadow: 0.5px 0.5px 0 red;
    }

    p {
      text-align: justify;

      &.important {
        text-indent: 25px;
        color: #b31616;
      }
    }
  }

  .winner {
    text-align: center;
    font-size: 1.5rem;

    h1 {
      margin: 25px;
    }
  }


  .content {
    display: flex;
    justify-content: center;
    width: 82%;

    .left-content {
      width: 85%;

      .gameplay {
        box-sizing: border-box;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        min-height: 500px;
        padding: 30px;
        background-color: green;
        border-radius: 140px;
        border: 15px solid #4a2206;

        @media (max-width: 900px) {
          flex-direction: column;
          padding: 0 40px;
        }

        .bankCards, .playerCards {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }

        .bank, .player {
          width: 50%;

          @media (max-width: 900px) {
            width: 100%;
            min-height: 200px;
          }

          h2 {
            text-align: center;
            color: white;
            text-shadow: 2px 2px 2px black;
          }
        }

        .player {
          border-right: 1px solid #ffffff;

          @media (max-width: 900px) {
            border: none;
          }
        }
      }
    }

    .right-content {
      width: 15%;

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }


}
