<header style="display: flex; align-items: center">
  <h2>&#9830; &#9827; &#9824; &#9829; &nbsp;</h2>
  <h1>17 und 4</h1>
  <h2>&nbsp; &#9829; &#9824; &#9827; &#9830;</h2>
</header>

<app-button (click)="toggleShowRules()">Spielregeln</app-button>

<div class="rules" *ngIf="game.showRules">
  <h2>Spielregeln</h2>

  <p>
    Ziel des Spiels ist genau 21 (17+4) Punkte erreichen.
    <br>
    <br>
    Gespielt wird mit 52 Karten.
    Die Wertung der Karten entspricht den aufgedruckten Werten.
    Bei Bildkarten ist der Wert jeweils 10.
    Das Ass gilt <b>immer</b> als 11 Punkte.
    <br>
    <br>
    Zu Beginn werden dem Spieler zwei Karten ausgeteilt, der Bank eine Karte.
    Der Spieler entscheidet nun, ob er die Bank mit den ihm ausgeteilten Karten
    bereits besiegen kann.
    <br>
    <br>
    Wenn er meint ausreichend Punkte zu haben, wird der Zug beendet.
    Andernfalls kann er sich dazu entscheiden, eine weitere Karte zu ziehen.
    Die geschieht solange, bis er entweder keine Karten möchte oder der Gesamtwert
    21 überschreitet.
    <br>
    <br>
    Wird der Gesamtwert überschritten ist das Spiel verloren und die Bank gewinnt.
    <br>
    <br>
    Beschließt der Spieler zuvor seinen Zug zu beenden, ist die Bank an der Reihe.
    Diese deckt nun ihre anfangs ausgeteilte Karte auf und entscheidet ebenfalls, ob
    eine weitere Karte gezogen wird.
    <br>
    <br>
    Erreicht die Bank den Wert 21 hat der Spieler in jedem Fall verloren -
    ein Unentschieden gibt es nicht.
    Die Bank verliert, wenn Spieler und Bank unter 21 liegen und der Spieler einen
    höheren Wert hat oder der Spieler zuvor 21 Punkte erreicht hat.

  </p>
</div>

<br>
<br>


<app-button (click)="startGame()" [disabled]="game.gameStarted">Start</app-button>

<br>
<br>

<app-button (click)="nextCardForPlayer()"
            [disabled]=" !game.gameStarted || game.playerWon || game.bankWon || game.playersPoints === 21 || game.playersTurnFinished">
  Neue Karte
</app-button>

<app-button (click)="playerFinishedTurn()"
            [disabled]=" !game.gameStarted || game.playerWon || game.bankWon || game.playersPoints === 21 || game.playersTurnFinished">
  Zug beenden
</app-button>

<div class="winner">
  <h1 *ngIf="game.bankWon">
    Bank gewinnt!
  </h1>

  <h1 *ngIf="game.playerWon">
    Spieler gewinnt!
  </h1>
</div>

<br>
<br>

<div class="gameplay">

  <div class="bank">

    <h2>Bank: </h2>

    <div class="bankCards">

      <div *ngFor="let bankCard of game.bankCards">
        <app-hidden-card *ngIf="!game.revealBankCard"></app-hidden-card>
        <app-card *ngIf="game.revealBankCard" [card]="bankCard"></app-card>
      </div>

      <app-hidden-card *ngIf="game.showBanksHiddenCard"></app-hidden-card>
    </div>

  </div>


  <div class="player">

    <h2>Spieler: </h2>

    <div class="playerCards">

      <div *ngFor="let playerCard of game.playerCards">
        <app-hidden-card *ngIf="!game.revealPlayerCard"></app-hidden-card>
        <app-card *ngIf="game.revealPlayerCard" [card]="playerCard" style="color:{{playerCard.color}}"></app-card>
      </div>

      <app-hidden-card *ngIf="game.showPlayersHiddenCard"></app-hidden-card>

    </div>

  </div>

</div>

<app-button *ngIf="game.roundFinished" (click)="resetGameState(); startGame()">Neues Spiel?</app-button>



